{
	"ecmaFeatures": {
		"generators": true,
		"blockBindings": true,
		"forOf": true,
		"templateStrings": true
	},
	"env": {
		"node": true
	},
	"rules": {
		"no-undef": 2,
		"no-unused-vars": [1, {
			"varsIgnorePattern": "(^_|logger)"
		}]
	}
}
